.itemSection {
  height: 300px;
  width: 25%;
  display: inline-block;
}

.itemSection img {
  height: 70%;
  width: 100%;
  background-position: center;
}

.itemSection .info {
  height: 30%;
  padding: 2%;
}

.fullName {
  font-weight: bold;
}

.item {
  margin: 3%;
  border: 1px solid grey;
  cursor: pointer;
}

.itemSection a {
  text-decoration: none;
  color: black;
}
