.container {
  margin: 0% 10%;
  border: 0.5px solid rgb(174, 171, 171);
}

.wraper {
  padding-top: 2%;
}

.friends {
  font-size: x-large;
  font-weight: bold;
  margin-left: 0.7%;
  margin-bottom: 1.5%;
}
